<link rel="stylesheet" href="/css/signin-up.css">
<div class="sign-in">
    <h1>SignIn</h1>
    <form action="/users/createsession" method="post" id="signin-form">
        <input type="email" name="email" placeholder="Enter Username" required><br><br>
        <input type="password" name="password" placeholder="Enter Password" required><br><br>
        <input type="submit" value="SignIn">
    </form>
</div>