.navbar {
    background-color: black;
    color: white;
}

.nav1 {
    display: flex;
    justify-content: space-between;
}

.navbar .nav1 li {
    list-style: none;
    text-decoration: none;
    padding: 1% 2%;
}

.navbar .nav1 li a{
    text-decoration: none;
    color: white;
}
