.container{
    margin: 1%;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0px;
    padding: 5px;
    font-size: 20px;

}

li p {
    padding: 10px;
}

form {
    text-align: center;
    padding: 1vh;
    margin: 1vh;

}

form input {
    font-size: 18px;
    text-align: center;
    display: flex;
    margin: auto;
    width: 30%;
    padding: 1vh;
    flex-direction: row;
    border: 2px solid black;
}

br {
    line-height: 5px;
}

button {
    background-color: #215bd8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
}